@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("media/bg.jpg");
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:30%;
    height:auto;

}
.content{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px 50px;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.big{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.medium{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #003465;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input{
    width:100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 1rem;
}
input[type=email]:focus {
    border: 3px solid #3b35e6;
}
input[type=password]:focus {
    border: 3px solid #3b35e6;
}
span{
    padding: 5px;
}

.inp{
    padding: 0 0 20px;
    overflow-x: hidden;
}
.forgot{
    padding-top: 1px;
}
.continue{
    margin: 0 auto 20px;
}
.last{
    text-align: center;
    padding-top: 30px;
}
.svg{
    height: 30px;
    width: 60px;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}
.signin{
    margin: 10px 0;
}
.mid{
    width: 100%;
}
.small{
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* ::placeholder{

} */

button:hover{
    background-color: #00284e;
}

@media screen and (max-width:1200px) {
    .container{
        width: 50%;
    }
    .big{
        font-size: 1.75rem;
    }
    
    .medium{
        font-size: 0.9rem;
    }
    button{
        font-size: 0.9rem;
    }
    input{
        font-size: 0.8rem;
    }
    .small{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width:700px) {
    .container{
        width: 70%;
    }
    .big{
        font-size: 1.7rem;
    }
    
    .medium{
        font-size: 0.85rem;
    }
    button{
        font-size: 0.85rem;
    }
    input{
        font-size: 0.78rem;
    }
    .small{
        font-size: 0.78rem;
    }
}
@media screen and (max-width:450px) {
    .container{
        width: 90%;
    }
}
